<a href="https://colab.research.google.com/github/imarariyal/DSPL-ICW/blob/main/DSPL_ICW_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import random
import warnings
warnings.filterwarnings('ignore')

In [2]:
#read the csv
df = pd.read_csv('/content/indicators_lka.csv')
df.head()

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
1,Sri Lanka,LKA,2022,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,1461.39775839426
2,Sri Lanka,LKA,2021,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,1461.39775839426
3,Sri Lanka,LKA,2020,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,2838.09421995635
4,Sri Lanka,LKA,2019,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,1803.55490605544

In [3]:
df.shape

(76315, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76315 entries, 0 to 76314
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    76315 non-null  object
 1   Country ISO3    76315 non-null  object
 2   Year            76315 non-null  object
 3   Indicator Name  76315 non-null  object
 4   Indicator Code  76315 non-null  object
 5   Value           76315 non-null  object
dtypes: object(6)
memory usage: 3.5+ MB

In [5]:
df.describe()

       Country Name Country ISO3   Year Indicator Name  Indicator Code  Value
count         76315        76315  76315          76315           76315  76315
unique            2            2     65           3194            3195  46300
top       Sri Lanka          LKA   2016  Net migration  NV.AGR.TOTL.ZS      0
freq          76314        76314   3029            192             192   2737

In [6]:
#drop row as it is unnecessary
df.drop(index=0, inplace=True)

In [7]:
#removing columns that dont add valuable insights
df.drop(['Country ISO3', 'Indicator Code'], axis=1, inplace=True)

In [8]:
#Rename columns for readability
df.rename(columns={'Country Name': 'Country'}, inplace=True)
df.rename(columns={'Indicator Name': 'Indicator'}, inplace=True)

In [9]:
df.head()

,Country,Year,Indicator,Value
1,Sri Lanka,2022,Fertilizer consumption (% of fertilizer produc...,1461.39775839426
2,Sri Lanka,2021,Fertilizer consumption (% of fertilizer produc...,1461.39775839426
3,Sri Lanka,2020,Fertilizer consumption (% of fertilizer produc...,2838.09421995635
4,Sri Lanka,2019,Fertilizer consumption (% of fertilizer produc...,1803.55490605544
5,Sri Lanka,2018,Fertilizer consumption (% of fertilizer produc...,1312.52008353088

In [10]:
#check for null values
df.isnull().sum()

Country      0
Year         0
Indicator    0
Value        0
dtype: int64

In [11]:
#checking for duplicates
duplicates = df[df.duplicated(subset=['Indicator', 'Year', 'Value'], keep=False)]
print(duplicates.sort_values(by=['Indicator', 'Year']))

         Country  Year                                          Indicator  \
22976  Sri Lanka  2000            Access to electricity (% of population)
24229  Sri Lanka  2000            Access to electricity (% of population)
67086  Sri Lanka  2000            Access to electricity (% of population)
22975  Sri Lanka  2001            Access to electricity (% of population)
24228  Sri Lanka  2001            Access to electricity (% of population)
...          ...   ...                                                ...
61386  Sri Lanka  2020  Women's share of population ages 15+ living wi...
32733  Sri Lanka  2021  Women's share of population ages 15+ living wi...
61385  Sri Lanka  2021  Women's share of population ages 15+ living wi...
32732  Sri Lanka  2022  Women's share of population ages 15+ living wi...
61384  Sri Lanka  2022  Women's share of population ages 15+ living wi...

                  Value
22976              70.3
24229              70.3
67086              70.3
22975              63.6
24228              63.6
...                 ...
61386  29.7619047619048
32733   29.397233201581
61385   29.397233201581
32732  29.0132547864507
61384  29.0132547864507

[32597 rows x 4 columns]

In [12]:
#clean text fields properly again just to be safe
df['Indicator'] = df['Indicator'].str.strip()
df['Country'] = df['Country'].str.strip()

#drop duplicates based ONLY on important columns
df = df.drop_duplicates(subset=['Country','Indicator', 'Year', 'Value'])

#reset index after dropping
df = df.reset_index(drop=True)

#check again
print("Number of duplicates left:", df.duplicated(subset=['Country','Indicator', 'Year', 'Value']).sum())

Number of duplicates left: 0

In [13]:
#data types
df.dtypes

Country      object
Year         object
Indicator    object
Value        object
dtype: object

In [14]:
#change the data types
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

In [15]:
#Keep data from 2000
df = df[df['Year'] >= 2000]

In [16]:
#clean inconsistent values in the Value column
df['Value'] = (
    df['Value']
    .astype(str)                     # ensure it's string
    .str.replace(',', '', regex=False)  # remove commas
    .str.replace('$', '', regex=False)  # remove $ if needed
    .str.strip()                     # remove whitespace
)

# Now convert to numeric
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

In [17]:
df.dropna(subset=['Year', 'Value'], inplace=True)

In [18]:
df.dtypes

Country       object
Year           int64
Indicator     object
Value        float64
dtype: object

In [19]:
#Define important indicators
important_indicators = [
    "GDP (current US$)",
    "Inflation, consumer prices (annual %)",
    "Unemployment rate (% of total labor force)",
    "Exports of goods and services (current US$)",
    "Imports of goods and services (current US$)",
    "Foreign direct investment, net inflows (BoP, current US$)",
    "Government expenditure (% of GDP)",
    "Trade in services (% of GDP)",
    "Net migration",
    "Life expectancy at birth, female (years)",
    "Life expectancy at birth, male (years)",
    "Mortality rate, under-5 (per 1,000 live births)",
    "Population growth (annual %)"
]

df = df[df['Indicator'].isin(important_indicators)]

['Mortality rate, under-5 (per 1,000 live births)' 'Net migration'
 'Trade in services (% of GDP)'
 'Foreign direct investment, net inflows (BoP, current US$)'
 'Inflation, consumer prices (annual %)'
 'Exports of goods and services (current US$)'
 'Imports of goods and services (current US$)' 'GDP (current US$)'
 'Life expectancy at birth, female (years)'
 'Life expectancy at birth, male (years)' 'Population growth (annual %)']
        Country  Year                                        Indicator  Value
4079  Sri Lanka  2022  Mortality rate, under-5 (per 1,000 live births)    6.5
4080  Sri Lanka  2021  Mortality rate, under-5 (per 1,000 live births)    6.7
4081  Sri Lanka  2020  Mortality rate, under-5 (per 1,000 live births)    7.0
4082  Sri Lanka  2019  Mortality rate, under-5 (per 1,000 live births)    7.3
4083  Sri Lanka  2018  Mortality rate, under-5 (per 1,000 live births)    7.6

In [20]:
#checking for unique values
df['Indicator'].unique()

array(['Mortality rate, under-5 (per 1,000 live births)', 'Net migration',
       'Trade in services (% of GDP)',
       'Foreign direct investment, net inflows (BoP, current US$)',
       'Inflation, consumer prices (annual %)',
       'Exports of goods and services (current US$)',
       'Imports of goods and services (current US$)', 'GDP (current US$)',
       'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Population growth (annual %)'], dtype=object)

In [21]:
#checking for unique values
df['Year'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
       2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001,
       2000, 2023])

In [22]:
#checking for unique values
df['Value'].unique()

array([ 6.50000000e+00,  6.70000000e+00,  7.00000000e+00,  7.30000000e+00,
        7.60000000e+00,  7.90000000e+00,  8.30000000e+00,  8.80000000e+00,
        9.30000000e+00,  9.90000000e+00,  1.04000000e+01,  1.08000000e+01,
        1.12000000e+01,  2.08000000e+01,  1.20000000e+01,  1.26000000e+01,
        1.33000000e+01,  1.41000000e+01,  2.87000000e+01,  1.51000000e+01,
        1.56000000e+01,  1.61000000e+01,  1.67000000e+01, -2.80110000e+04,
       -2.74350000e+04, -2.95860000e+04, -2.98750000e+04, -2.84260000e+04,
       -2.86070000e+04, -2.23240000e+04, -1.83880000e+04, -2.97970000e+04,
       -3.36720000e+04, -3.77540000e+04, -4.19550000e+04, -9.08390000e+04,
       -9.80600000e+04, -8.11300000e+04, -9.71440000e+04, -1.09695000e+05,
       -1.07045000e+05, -1.18594000e+05, -8.47950000e+04, -1.07573000e+05,
       -1.05718000e+05,  1.92730000e+04,  1.23894000e+05,  8.80557090e+00,
        5.41510512e+00,  3.79595550e+00,  6.22902106e+00,  1.35923419e+01,
        1.37384767e+01,  1.28689122e+01,  1.29493227e+01,  1.22955433e+01,
        1.13049675e+01,  1.06366939e+01,  8.99726630e+00,  1.04729994e+01,
        9.52798563e+00,  1.04950233e+01,  1.23111003e+01,  1.35292665e+01,
        1.42098553e+01,  1.48687410e+01,  1.66216900e+01,  1.63636605e+01,
        1.72502879e+01,  1.97140605e+01,  1.56768556e+01,  7.11826200e+08,
        8.84150491e+08,  5.92289970e+08,  4.34075668e+08,  7.43466231e+08,
        1.61404401e+09,  1.37272304e+09,  8.97049376e+08,  6.79655644e+08,
        8.93628980e+08,  9.32551318e+08,  9.41116591e+08,  9.55920000e+08,
        4.77559000e+08,  4.04000000e+08,  7.52200000e+08,  6.03000000e+08,
        4.79700000e+08,  2.72400000e+08,  2.32800000e+08,  2.28720000e+08,
        1.96500000e+08,  1.71790000e+08,  1.72941410e+08,  1.65411742e+01,
        4.97211021e+01,  7.01478071e+00,  6.15394508e+00,  3.52839358e+00,
        2.13503774e+00,  7.70413768e+00,  3.95888847e+00,  3.76836783e+00,
        3.17900228e+00,  6.90845035e+00,  7.54291373e+00,  6.71676844e+00,
        6.21764889e+00,  3.46496322e+00,  2.25644955e+01,  1.58421115e+01,
        1.00201836e+01,  1.16396861e+01,  7.57592583e+00,  6.31463787e+00,
        9.55103167e+00,  1.41584558e+01,  6.17627591e+00,  1.73201445e+10,
        1.59849096e+10,  1.49939552e+10,  1.30314571e+10,  1.94262131e+10,
        2.02653905e+10,  1.90868391e+10,  1.74475865e+10,  1.69374170e+10,
        8.97203834e+09,  1.01139199e+10,  9.41877191e+09,  8.52028793e+09,
        7.89206965e+09,  7.30025694e+09,  6.54319312e+09,  5.77345529e+09,
        5.87957028e+09,  6.37158161e+09,  1.87011676e+10,  1.86269845e+10,
        2.15396477e+10,  1.82362659e+10,  2.45699081e+10,  2.68014367e+10,
        2.54025061e+10,  2.34530738e+10,  2.30089916e+10,  1.17031497e+10,
        1.56860424e+10,  1.27755984e+10,  1.16322325e+10,  1.00715622e+10,
        9.12292717e+09,  7.68162039e+09,  6.84973098e+09,  6.86176030e+09,
        8.10347098e+09,  8.43568637e+10,  7.41448700e+10,  8.86093249e+10,
        8.43042988e+10,  8.90149783e+10,  9.44938712e+10,  9.43762378e+10,
        8.80122822e+10,  8.51409554e+10,  8.25285357e+10,  7.70005782e+10,
        7.04472169e+10,  6.77532840e+10,  5.86361611e+10,  4.20662241e+10,
        4.07138262e+10,  3.23502388e+10,  2.82798024e+10,  2.44057910e+10,
        2.06625259e+10,  1.88817654e+10,  1.65365356e+10,  1.57497538e+10,
        1.63308142e+10,  8.02300000e+01,  7.95020000e+01,  8.01110000e+01,
        7.97430000e+01,  7.94930000e+01,  7.93170000e+01,  7.93550000e+01,
        7.89710000e+01,  7.88130000e+01,  7.86190000e+01,  7.81470000e+01,
        7.78010000e+01,  7.75960000e+01,  7.48390000e+01,  7.75000000e+01,
        7.72590000e+01,  7.71100000e+01,  7.66670000e+01,  7.05760000e+01,
        7.60330000e+01,  7.58350000e+01,  7.56080000e+01,  7.51100000e+01,
        7.28510000e+01,  7.31100000e+01,  7.25970000e+01,  7.22270000e+01,
        7.19830000e+01,  7.15400000e+01,  7.14070000e+01,  7.10270000e+01,
        7.06980000e+01,  7.01790000e+01,  6.99810000e+01,  6.93480000e+01,
        6.92170000e+01,  6.42450000e+01,  6.66820000e+01,  6.74840000e+01,
        6.74620000e+01,  6.80680000e+01,  6.39680000e+01,  6.72870000e+01,
        6.70120000e+01,  6.66190000e+01,  6.62160000e+01, -6.51320770e-01,
        1.12772640e-01,  1.07544996e+00,  5.30626560e-01,  6.11875946e-01,
        1.04839296e+00,  1.10192661e+00,  1.13327750e+00,  9.19811027e-01,
        9.33207943e-01, -2.79968273e+00,  7.60628048e-01,  6.20507028e-01,
        5.89181271e-01,  6.14014272e-01,  6.65501489e-01,  6.86177994e-01,
        6.69909172e-01,  6.39733163e-01,  6.79757715e-01,  7.33298047e-01,
        1.04243651e+00,  1.58029007e+00,  1.82192894e+00])

In [23]:
#final cleaned df shape and overview
print(df.shape)
print(df.head())

(251, 4)
        Country  Year                                        Indicator  Value
4079  Sri Lanka  2022  Mortality rate, under-5 (per 1,000 live births)    6.5
4080  Sri Lanka  2021  Mortality rate, under-5 (per 1,000 live births)    6.7
4081  Sri Lanka  2020  Mortality rate, under-5 (per 1,000 live births)    7.0
4082  Sri Lanka  2019  Mortality rate, under-5 (per 1,000 live births)    7.3
4083  Sri Lanka  2018  Mortality rate, under-5 (per 1,000 live births)    7.6

In [24]:
#saved the cleaned df as a csv
df.to_csv('cleaned_indicators_lka.csv', index=False)